//COLORS
$blue: #208AFF;
$gray: #F1F5F8;
$pink: #EA59AC;
$green: #1FCF9B;
$body_color: #4A5568;
$black: #1d1d1d;
$white: #fff;
$light_pink: #F8CDE6;
$light_green: #E2FBF2;
$light_blue: #E9F3FD;
$light_gray: #E7EBF0;
$transition: .6s;
$font_size: 1rem;