//COLORS
$blue: #208AFF;
$grey: #F1F5F8;
$pink: #EA59AC;
$green: #1FCF9B;
$light_blue: #D9EBFF;
$optional_red: #FF414B;
$yellow: #fbb403;
$black: #1d1d1d;
$body_color: #4A5568;
$white: #fff;
$dash_purple: #7431F9;
$transition: .6s;
$font_size: 1rem;